@model UniversityInformationSystem.Models.ViewModels.Account.LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div style="text-align: center">
    <h2>Welcome to the System!</h2><br/>
    <h2>Please Log in.</h2>
</div>

<div class="container">
    <div id="login">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <span class="cspan fontawesome-user"></span>
                @Html.TextBoxFor(m => m.UserName, new { @placeholder = "Username" })<br />
                @Html.ValidationMessageFor(m => m.UserName, null, new { @class = "text-danger" })

                <span class="cspan fontawesome-lock"></span>
                @Html.PasswordFor(m => m.Password, new { @placeholder = "Password" })
                @Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-danger" })
                <input type="submit" value="Login">
            </div>
        }
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
