@model UniversityInformationSystem.Models.ViewModels.Account.LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div style="text-align: center">
    <h2>Welcome to the System!</h2><br />
    <h2>Please Log in.</h2>
</div>

<div class="container">
    <div id="login">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div>
                    @Html.TextBoxFor(m => m.UserName, new { @placeholder = "Username" })<br />
                    @Html.ValidationMessageFor(m => m.UserName, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                @Html.PasswordFor(m => m.Password, new { @placeholder = "Password" })
                <div class="col-sm-12">
                    @Html.ValidationMessageFor(m => m.Password, null, new {@class = "text-danger"})
                </div>
            </div>
            <input type="submit" value="Login">
        }
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
